 
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    justify-content: center;
    align-items: center;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.2s;
    animation: animatezoom 0.2s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0.5);opacity: 0;}
    to {-webkit-transform: scale(1);opacity: 1;}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0.5);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
  }

  
  .modal-content {
    background-color: #18191c;
    margin: auto;
    width: 600px;
    border-radius: 10px;
  }


  .modal-content .modal-header {
      width: 100%;
      height: 296px;
  }

  .modal-content .modal-header header {
      width: 100%;
      height: 220px;
  }

  .modal-content .modal-header header .modal-banner {
    width: 100%;
    height: 120px;
    /*background-color: rgb(92, 100, 244);*/
    border-radius: 10px 10px 0px 0px;
  }

  .modal-content .modal-header header .modal-header-header {
    width: 100%;
    height: 0px;
    position: relative;
  }

  .modal-content .modal-header header .modal-header-header .modal-header-header-avatar {
    width: 120px;
    height: 120px;
    position: absolute;
    top: -68px;
    left: 16px;
    border: 8px solid #000;
    background-color: #000;
    border-radius: 50%;
  }

  .modal-content .modal-header header .modal-header-header .modal-header-header-top {
        position: absolute;
        top: 16px;
        right: 16px;
        left: 160px;

  }

  .modal-content .modal-header header .modal-header-header .modal-relationshipButtons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    float: right;
  }

  .modal-content .modal-header header .modal-header-header .modal-relationshipButtons button {
      padding: 2px 16px;
      height: 32px;
      width: auto;
      background-color: #3ba55d;
      color: #fff;
      border-radius: 5px;
      text-align: center;
      transition-duration: 200ms;
  }

  .modal-content .modal-header header .modal-header-header .modal-relationshipButtons button:hover {
      background-color: #2d7d46;
  }

  .modal-content .modal-header header .modal-header-header .modal-relationshipButtons button:active {
      background-color: #236136;
  }

  .modal-content .modal-header header .modal-header-header .modal-relationshipButtons .modal-additionalActionsIcon {
    cursor: pointer;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    opacity: 1;
    color: #b9bbbe;
  }

  .modal-content .modal-header header .modal-header-header .modal-relationshipButtons .modal-additionalActionsIcon:hover {
    color: #dcddde;
  }

  .modal-content .modal-header header .modal-header-header .modal-relationshipButtons .modal-additionalActionsIcon:hover {
    color: #fff;
  }

  .modal-tabs {
    padding-left: 20px;
  }

  .modal-tabs-tabs {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 40px;
  }

  .modal-tab {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    margin-right: 40px;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    color: #b9bbbe;
    cursor: pointer;
  }

  .modal-tab:hover {
    border-bottom-color: #dcddde;
    color: #d8d9db;
  }

  .modal-tab:active {
    border-bottom-color: #fff;
    color: #fff;
  }

  .modal-tab-selected, .modal-tab-selected:hover, .modal-tab-selected:active {
    border-bottom-color: #fff !important;
    color: #fff !important;
    cursor: default !important;
  }

  .modal-body {
    color: #fff;
  }

  .modal-name-tag {
    margin-bottom: 20px;
    position: relative;
    display: block;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    white-space: normal;
    word-break: break-word;
    line-height: 24px;
    font-size: 20px;
    margin-top: 76px;
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 600;
    font-family: var(--font-display);
  }

  .modal-username {
    white-space: normal;
    display: inline;
    vertical-align: top;
    color: #fff;
  }

  .modal-discriminator {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    color: #b9bbbe;
    margin-left: -3px;
  }