.message {
    margin: 20px 0px;
    padding: 10px;
}

.message::after {
  content: "";
  clear: both;
  display: table;
}

.message:hover {
    background-color: #32353b;
}

.message img {
    cursor: pointer;
}

.message img:hover {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.message img:active {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    transform: translate(0px, 1px);
}

.messages {
    overflow-y: scroll;
    height: calc(100% - 169px);
}

.messages::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
.messages:hover::-webkit-scrollbar-thumb {
    background: #070707; 
    border-radius: 10px;
}
