
.user0 {
    color: #889297;
}

.user0:hover {
    background-color: #34373c;
    color: #d8d9da;
}

.user0:active {
    background-color: #37393f;
}

.user1 {
    color: #fff;
    background-color: #393c43;
}

.user0, .user1 {
    width: calc(100% - 10px);
    cursor: pointer;
    height: 42px;
    border-radius: 5px;
    margin: 5px 5px 5px 8px;
    padding: 0px 8px 35px 8px;
}

.userSelected, .userSelected:hover, .userSelected:active {
    color: #fff;
    background-color: #393c43;
}