:root {
    --primary: #5865f2;
    --green: #248045;
    --error: #966b67;
    --error: #f28b82;

    --bg: #313338;
    --border: #3f4147;
    --text: #f3f4f5;
    --text-primary: #f3f4f5;
    --text-secondary: #b7b8be;
    --panel-bg: #2b2d31;
    --panel-bg-2: #2b2d31;
    --panel-bg-2-hover: #2b2d31;
    --panel-bg-3: #2b2d31;

    --btn-green-bg: var(--green);
    --btn-green-text: var(--text-primary);
    --btn-green-hover-bg: #1a6334;
    --btn-green-active-bg: #15562b;

    --btn-primary-bg: var(--primary);
    --btn-primary-text: var(--text-primary);
    --btn-primary-hover-bg: #4752c4;
    --btn-primary-active-bg: #3c45a5;

    --btn-secondary-bg: #4e5058;
    --btn-secondary-text: var(--text-primary);
    --btn-secondary-hover-bg: #6d6f78;
    --btn-secondary-active-bg: #82858f;
    --btn-secondary-border: #5f6368;
}

* {
	box-sizing: border-box;
}

.fake-url, a {
	color: var(--primary);
	text-decoration: none;
	cursor: pointer;
}

.fake-url:focus, .fake-url:hover, a:focus, a:hover {
	text-decoration: underline;
}

button:not(.btn-tool),
input[type=submit]:not(.btn-tool) {
	border: none;
	background-color: var(--btn-primary-bg);
	color: var(--btn-primary-text);
	padding: 8px 10px;
	min-width: 80px;
	border-radius: 3px;
	transition: background 200ms, outline 50ms;
	cursor: pointer;
	font-weight: bold;
}

button:not(.btn-tool):hover,
input[type=submit]:not(.btn-tool):hover {
	background-color: var(--btn-primary-hover-bg);
}

button:not(.btn-tool):active,
input[type=submit]:not(.btn-tool):active {
	background-color: var(--btn-primary-active-bg);
}

.btn-tool-back {
	background-image: url('/images/icon-back.png');
	background-size: 20px;
	background-position: center;
	background-repeat: no-repeat;
}

button.btn-tool,
input[type=submit].btn-tool {
	border: none;
	color: var(--text);
	background-color: transparent;
	border-radius: 16px;
	cursor: pointer;
	font-weight: bold;
	width: 32px;
	height: 32px;
	border: 2px solid #b8b9bf;
}

button.btn-tool:hover,
input[type=submit].btn-tool:hover {
	border-color: #e0e1e5;
	background-color: #fff1;
}

button.btn-tool:active,
input[type=submit].btn-tool:active {
	border-color: #f3f4f5;
	background-color: #fff2;
	transform: translateY(1px);
}

TABLE {
	Width: 100%;
	margin: 0px;
	padding: 0px;
	border-color: var(--border);
}

TABLE.guage {
	background-color: var(--primary);
}

TEXTAREA.same {
	overflow: auto;
	border: 1px;
	border-style: dashed;
	font-family: Arial, Helvetica;
	FONT-SIZE: 12px;
	color: var(--text);
	background-color: var(--bg);
}

TD {
	FONT-SIZE: 12px;
	height: 24px;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
}

TD.h1 {
	FONT-SIZE: 108%;
	color: #e8eaed;
	FONT-WEIGHT: bold;
	padding-left: 15px;
	
	font-weight: 400;
	letter-spacing: .25px;
	margin-bottom: 12px;
	outline: none;
	padding-bottom: 4px;
	padding-top: 8px;
}

TD.h2 {
	FONT-SIZE: 16px;
	height: 30px;
	FONT-WEIGHT: bold;
	padding-left: 15px;
	white-space: normal;
}

TD.h3 {
	FONT-SIZE: 14px;
	height: 30px;
	white-space: normal;
}

TD.info {
	padding-left: 25px;
}

TD.info1 {
	padding-left: 35px;
}

TD.clk {
	padding-left: 25px;
	Width: 5%
}

TD.mbtn {
	padding-left: 30%
}

TD.blue {
	border-bottom: 2px solid var(--border);
	background-position: 0% 10%;
	height: 30px;
}

TD.Item {
	FONT-WEIGHT: bold;
	text-align: right;
	padding-right: 30px;
	width: 30%;
}

TD.emp {
	FONT-WEIGHT: bold;
	color: var(--primary);
	font-size: 13px;
}

TD.ListTC1 {
	text-align: right;
	padding-right: 20px;
	FONT-WEIGHT: bold;
	font-size: 13px;
}

TD.ListTC2 {
	text-align: left;
	FONT-WEIGHT: bold;
	padding-left: 20px;
	font-size: 13px;
}

TD.ListC1 {
	text-align: right;
	padding-right: 20px;
}

TD.ListC2 {
	text-align: left;
	FONT-WEIGHT: bold;
	padding-left: 20px;
}

TD.ListB {
	text-align: left;
	FONT-WEIGHT: bold;
	white-space: nowrap;
}

TD.Listm {
	text-align: center;
}

TD.Listr {
	text-align: right;
	padding-right: 5px;
}

input {
	vertical-align: middle;
}

input.text {
	height: 22px;
	color: black;
	padding-right: 3px;
	padding-left: 3px;
}

input.radio {
	vertical-align: middle;
}

input.button {
	line-height: normal;
	color: black;
	height: 22px;
	width: 75px;
}

input.buttonL {
	line-height: normal;
	color: black;
	height: 22px;
	width: 160px;
}

input.buttonLL {
	line-height: normal;
	color: black;
	height: 22px;
}

input.buttonBig {
	FONT-SIZE: 14px;
	line-height: normal;
	color: black;
	height: 22px;
	width: 100px;
}

input.buttonBigL {
	FONT-SIZE: 14px;
	line-height: normal;
	color: black;
	height: 22px;
}

select {
	vertical-align: middle;
	height: 22px;
	color: black;
}

select.list {
	width: 120px;
}

select.listL {
	width: 150px;
}

select.listS {
	width: 80px;
}

select.listLL {
	width: 230px;
}

select.listLLL {
	width: 300px;
}

TD[type="h1"]:disabled,
TD[type="emp"]:disabled,
input[type="submit"]:disabled,
input[type="text"]:disabled,
input[type="button"]:disabled,
input[type="buttonL"]:disabled,
input[type="buttonLL"]:disabled,
input[type="buttonBig"]:disabled,
input[type="buttonBigL"]:disabled {
	color: gray;
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip>.tooltiptext {
	opacity: 0;
	pointer-events: none;
	text-align: center;
	padding: 5px;
	background: #292a2d;
	border-radius: 6px;
	border: 0.5px solid #404247;

	color: #ddd;

	transform: translateY(calc(-100% + 12px));

	box-shadow: #0007 1px 1px 5px;

	position: absolute;

	transition: opacity 200ms, transform 200ms;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	opacity: 1;
	pointer-events: all;
	transform: translateY(calc(-100% + 16px));
}

.tag {
	background-color: var(--main-primary-color);
	font-size: .9em;
	padding: 0px 4px;
	border-radius: 4px;
	user-select: none;
	color: var(--text-primary);
}

.tag:not(:last-child) {
	margin-left: 5px;
}

.server-icon {
	background-color: var(--main-primary-color);
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.dropbtn {
	color: #000;
	cursor: pointer;
}

.dropbtn>i {
	pointer-events: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	overflow: auto;
	box-shadow: #0007 1px 1px 5px;
	z-index: 1;
	transform: translate(-100%, 0%);
}

.dropdown-content>form {
	padding: 5px 8px;
	margin: 0;
	padding: 0;
}

.dropdown-content input[type='submit'] {
	padding: 5px 8px;
	margin: 0;
	padding: 4px 6px;
	border: none;
	min-width: 100px;
}

.dropdown-content input[type='text'] {
	display: none;
}

.dropdown input[type='submit']:hover,
.dropdown input[type='submit']:active {
	background: var(--main-primary-color);
}

.hide-null- {
	display: none;
}

.show-,
.show-false {
	display: none;
}

.show-invert-true {
	display: none;
}

.miniicon {
	transform: translateY(4px);
	user-select: none;
}

.miniicon > svg {
	height: 16px;
}

.show-hide-part-button {
    position: fixed;
    top: 0px;
    right: 0px;
    cursor: pointer;
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #777;
    border-bottom: solid 1px #777;

	display: none;
}

.show-hide-part-button:active {
    position: fixed;
    top: 0px;
    right: 0px;
    cursor: pointer;
    border-top: solid 1px #777;
    border-left: solid 1px #777;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
}

body {
	font-size: 12px;
	margin: 42px 30px 30px 30px;
	font-family: "Arial", "Helvetica", "Geneva", "Swiss", "SunSans-Regular", "sans-serif";
	color: var(--text);
	background-color: var(--bg);
	font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
	font-size: 81.25%;
}

.card {
    background-color: #292a2d;
    border-radius: 8px;
    box-shadow: #0003 0px 0px 4px 2px;
    flex: 1;
}

meter {
	--background: transparent;
	--optimum: forestgreen;
	--sub-optimum: gold;
	--sub-sub-optimum: crimson;
  
	/* The gray background in Firefox */
	background: var(--background);
  }
  
  /* The gray background in Chrome, etc. */
  meter::-webkit-meter-bar {
	background: var(--background);
  }
  
  /* The green (optimum) bar in Firefox */
  meter:-moz-meter-optimum::-moz-meter-bar {
	background: var(--optimum);
  }
  
  /* The green (optimum) bar in Chrome etc. */
  meter::-webkit-meter-optimum-value {
	background: var(--optimum);
  }
  
  /* The yellow (sub-optimum) bar in Firefox */
  meter:-moz-meter-sub-optimum::-moz-meter-bar {
	background: var(--sub-optimum);
  }
  
  /* The yellow (sub-optimum) bar in Chrome etc. */
  meter::-webkit-meter-suboptimum-value {
	background: var(--sub-optimum);
  }
  
  /* The red (even less good) bar in Firefox */
  meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
	background: var(--sub-sub-optimum);
  }
  
  /* The red (even less good) bar in Chrome etc. */
  meter::-webkit-meter-even-less-good-value {
	background: var(--sub-sub-optimum);
  }

input[type=text],
input[type=number],
textarea {
	background-color: #202123;
	border: 1px solid var(--border);
	padding: 5px;
	border-radius: 4px;
	transition-duration: 100ms;
	color: #ddd;
	caret-color: #ddd;
}

input[type=text][readonly],
input[type=number][readonly],
textarea[readonly] {
	background-color: #20212370;
}

input[type=text]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
textarea:focus:not([readonly]) {
	outline: 2px solid var(--primary);
	border-color: #0000;
}

input[type=text][readonly]:focus,
input[type=number][readonly]:focus,
textarea[readonly]:focus {
	outline: none;
	border-color: #5c7192;
}

input[type=number] {
	padding: 2px !important;
}

::-webkit-scrollbar {
	background-color: #2b2d31;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin: 4px;
}
::-webkit-scrollbar-thumb {
	background-color: #1a1b1e;
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #1a1b1e; 
}
::-webkit-scrollbar-thumb:active {
	background-color: #1a1b1e; 
}
::-webkit-scrollbar-corner {
	background-color: #2b2d31;
}
::-webkit-scrollbar-button {
	display: none;
}

h1 {
	font-size: 1.6em;
}

.container {
	background-color: #2b2d31;
	border-radius: 8px;
	border: 1px solid var(--border);
	box-shadow: #0005 0px 0px 4px;
	padding: 1px 20px 20px 20px;
	margin: 0px 50px 30px 50px;
}

table.datas td,
table.datas {
	border-style: solid;
}

.container h2 {
	font-size: 1.3em;
}

input[type=reset] {
	border: none;
	background-color: var(--btn-secondary-bg);
	color: var(--btn-secondary-text);
	padding: 8px 10px;
	min-width: 80px;
	border-radius: 3px;
	transition: background 200ms, outline 50ms;
	cursor: pointer;
	font-weight: bold;
}

input[type=reset]:hover {
	background-color: var(--btn-secondary-hover-bg);
}

input[type=reset]:active {
	background-color: var(--btn-secondary-active-bg);
	outline: none;
}

.button-secondary {
	border: none;
	background-color: var(--btn-secondary-bg) !important;
	color: var(--btn-secondary-text) !important;
	padding: 8px 10px;
	min-width: 80px;
	border-radius: 3px;
	transition: background 200ms, outline 50ms;
	cursor: pointer;
	font-weight: bold;
}

.button-secondary:hover {
	background-color: var(--btn-secondary-hover-bg) !important;
}

.button-secondary:active {
	background-color: var(--btn-secondary-active-bg) !important;
	outline: none;
}

input[type=checkbox] {	
	appearance: none;
	-webkit-appearance: none;
	border: 2px solid var(--btn-secondary-border);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	transition: background 200ms, border 200ms;
	cursor: pointer;
}
input[type=checkbox]:hover:not(:checked) {	
	background-color: var(--btn-secondary-hover-bg);
}
input[type=checkbox]:active:not(:checked) {	
	background-color: var(--btn-secondary-active-bg);
}
input[type=checkbox]:hover:checked {	
	background-color: var(--btn-primary-hover-bg);
	border: 2px solid var(--btn-primary-hover-bg);
}
input[type=checkbox]:active:checked {	
	background-color: var(--btn-primary-active-bg);
	border: 2px solid var(--btn-primary-active-bg);
}
input[type=checkbox]:active, input[type=checkbox]:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
input[type=checkbox]:checked {
	border: 2px solid var(--primary);
	background-color: var(--primary);
	padding: 9px;
	border-radius: 3px;
}
input[type=checkbox]:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: var(--text-primary);
	font-weight: bold;
}

textarea {
	width: 100%;
	min-height: 26px;
	resize: vertical;
}

.circle-32 {
	border-radius: 16px;
}

.fake-link {
	cursor: pointer;
}

.fake-link:hover {
	text-decoration: underline;
}

button.btn-custom,
input[type=submit].btn-custom {
	border: none;
	color: var(--text);
	background-color: transparent;
	border-radius: 50%;
	transition: background 200ms, opacity 200ms;
	cursor: pointer;
	font-weight: bold;
	width: 24px;
	height: 24px;
	position: relative;
	display: inline-block;
	padding: unset;
	min-width: unset;
	opacity: 50%;
}

.btn-custom > img {
	width: 80%;
	height: 80%;
	margin: 0px;
	padding: 0px;
	transform: translate(-1px, 2px);
}

button.btn-custom:focus-visible,
button.btn-custom:focus,
input[type=submit].btn-custom:focus-visible,
input[type=submit].btn-custom:focus {
	outline: 1px solid #fff2;
	opacity: 100%;
}

button.btn-custom:hover,
input[type=submit].btn-custom:hover {
	background-color: #fff2;
	opacity: 100%;
}

button.btn-custom:active,
input[type=submit].btn-custom:active {
	background-color: #fff4;
	outline: none;
	opacity: 100%;
}

button.btn-fetch,
input[type=submit].btn-fetch {
	border: none;
	color: var(--text);
	background-color: transparent;
	border-radius: 50%;
	transition: background 200ms, opacity 200ms;
	cursor: pointer;
	font-weight: bold;
	width: 24px;
	height: 24px;
	position: relative;
	display: inline-block;
	padding: unset;
	min-width: unset;
	opacity: 50%;
	background-image: url('../images/sync.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

button.btn-fetch:focus-visible,
button.btn-fetch:focus,
input[type=submit].btn-fetch:focus-visible,
input[type=submit].btn-fetch:focus {
	outline: 1px solid #fff2;
	opacity: 100%;
}

button.btn-fetch:hover,
input[type=submit].btn-fetch:hover {
	background-color: #fff2;
	opacity: 100%;
}

button.btn-fetch:active,
input[type=submit].btn-fetch:active {
	background-color: #fff4;
	outline: none;
	opacity: 100%;
}

button.btn-delete,
input[type=submit].btn-delete {
	border: none;
	color: var(--text);
	background-color: transparent;
	border-radius: 50%;
	transition: background 200ms, opacity 200ms;
	cursor: pointer;
	font-weight: bold;
	width: 24px;
	height: 24px;
	position: relative;
	display: inline-block;
	padding: unset;
	min-width: unset;
	opacity: 50%;
	background-image: url('../images/delete.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

button.btn-delete:focus-visible,
button.btn-delete:focus,
input[type=submit].btn-delete:focus-visible,
input[type=submit].btn-delete:focus {
	outline: 1px solid #fff2;
	opacity: 100%;
}

button.btn-delete:hover,
input[type=submit].btn-delete:hover {
	background-color: #fff2;
	opacity: 100%;
}

button.btn-delete:active,
input[type=submit].btn-delete:active {
	background-color: #fff4;
	outline: none;
	opacity: 100%;
}

.user-badge {
	user-select: none;
	width: 16px;
	height: 16px;
	display: inline-block;
	transform: translateY(2px);
}

.user-badge > img {
	width: 100%;
	height: 100%;
}

.disabled {
	pointer-events: none !important;
	opacity: 50% !important;
}

.loading-effect {
    opacity: 0;
    transition: opacity 400ms;
}

.loading-effect.loading-effect-loaded {
    opacity: 1;
}

.loading-effect.loading-effect-loaded-instant {
    transition: opacity 0ms;
    opacity: 1;
}

button.btn-toggle-info {
	border: none;
	color: var(--text);
	background-color: transparent;
	border-radius: 50%;
	transition: background 200ms, opacity 200ms;
	cursor: pointer;
	font-weight: bold;
	width: 24px;
	height: 24px;
	position: relative;
	display: inline-block;
	padding: unset;
	min-width: unset;
	opacity: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

button.btn-toggle-info.btn-toggle-info-show {
	background-image: url('../images/expand-more.png');
}

button.btn-toggle-info.btn-toggle-info-hide {
	background-image: url('../images/close.png');
}

button.btn-toggle-info:focus-visible,
button.btn-toggle-info:focus {
	outline: 1px solid #fff2;
	opacity: 100%;
}

button.btn-toggle-info:hover {
	background-color: #fff2;
	opacity: 100%;
}

button.btn-toggle-info:active {
	background-color: #fff4;
	outline: none;
	opacity: 100%;
}

.mention {
	background-color: #3d4270;
	border-radius: 2px;
	font-weight: 600;
	color: #c9cdfb;
}

.mention-clickable {
	background-color: #3d4270;
	border-radius: 2px;
	font-weight: 600;
	color: #c9cdfb;
	cursor: pointer;
}

.mention-clickable:hover {
	background-color: #5865f2;
}

.mention-clickable:active {
	background-color: #5865f2;
}

.mention-spinner::before {
	display: inline-block;
	position: relative;
	top: 4px;
	content: '';
	width: 12px;
	height: 12px;
	border-left: 2px solid #fff;
	border-top: 2px solid transparent;
	border-right: 2px solid transparent;
	border-bottom: 2px solid transparent;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.message-attachment {
	color: var(--text);
}

.message-attachment:focus,
.message-attachment:hover {
	text-decoration: none;
}

.message-attachment:hover .material-icons::after {
    display: none;
}

.message-attachment {
	border: 1px solid #fff4;
	padding: 0px 2px 1px 0px;
	border-radius: 2px;
	cursor: pointer;
}

.message-attachment:hover {
	background-color: #fff1;
}

.message-attachment:active {
	background-color: #fff2;
}

#context-menubar {
	background-color: #2b2d31;
	height: 100%;
	width: 240px;
	display: flex;
	flex-direction: column;
}
#content {
	padding: 42px 30px 30px 30px;
	height: calc(100% - 8px);
	overflow-x: hidden;
	overflow-y: auto;
	flex: 1 1;
	margin: 4px 0px 4px 4px;
}
html {height: 100%;}

#context-menubar > #context-menubar-content {
	flex: 1 1 100%;
}

#bot-status-panel {
	background-color: #232428;
	flex: 0 0 53px;
	overflow: hidden;
}

body.ctxpanel{display:flex;align-items:stretch;margin:0px;overflow:hidden;height:100%;}

.user-menuitem {
	width: calc(100% - 16px);
	height: 42px;
	border-radius: 5px;
	margin: 8px;
	cursor: pointer;
	user-select: none;
	color: #989aa2;
}

.user-menuitem.disabled {
	cursor: default;
}

.user-menuitem:not(.disabled):hover {
	background-color: #36373d;
	color: var(--text-primary);
}

.user-menuitem:not(.disabled):active {
	background-color: #3b3d44;
}

.user-menuitem.user-menuitem-selected {
	background-color: #404249;
	color: var(--text-primary);
	cursor: default;
}

.user-menuitem .user-menuitem-name {
	font-size: 16px;
	position: relative;
	top: -8px;
	font-weight: 600;
}

.user-menuitem .user-menuitem-avatar {
	display: inline-block;
	position: relative;
	top: 2px;
}

#context-menubar > #context-menubar-content h1 {
	margin: 4px 16px;
	color: #989aa2;
	font-size: 16px;
	font-variant: small-caps;
	font-weight: 600;
	user-select: none;
}

#users-menubar {
	background-color: #2b2d31;
	margin-left: 4px;
}

#server-panel {
	box-shadow: #0008 0px 1px 1px;
	flex: 0 0 53px;
	overflow: hidden;
	cursor: pointer;
	transition: background-color 100ms;
}

#server-panel:hover {
	background-color: #36373d;
}

#server-panel table, #server-panel tr, #server-panel td {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#server-menu {
	background-color: #111214;
	box-shadow: #0004 4px 4px 4px;
	border-radius: 4px;
	padding: 9px;
	width: 250px;
	user-select: none;
	display: none;
}

#server-menu > div {
	color: #b5bac1;
	font-weight: 500;
	font-size: 14px;
	padding: 6px 8px;
	cursor: pointer;
	border-radius: 3px;
}

#server-menu > hr {
	border-style: solid;
	border-color: #2e2f34;
}

#server-menu > div:hover {
	background-color: #4a54c1;
	color: #fff;
}

#server-menu > div:active {
	background-color: #3f47a2;
	color: #fff;
}

#server-menu.server-menu-visible {
	display: block;
}

.channel-menuitem {
	width: calc(100% - 16px);
	max-width: calc(100% - 16px);
	height: 32px;
	border-radius: 5px;
	margin: 4px;
	user-select: none;
	color: #989aa2;
}

.channel-menuitem:not(.channel-menuitem-notinteractive) {
	cursor: pointer;
}

.channel-menuitem:not(.channel-menuitem-notinteractive):hover {
	background-color: #36373d;
	color: var(--text-primary);
}

.channel-menuitem:not(.channel-menuitem-notinteractive):active {
	background-color: #3b3d44;
}

.channel-menuitem.channel-menuitem-selected {
	background-color: #404249;
	color: var(--text-primary);
	cursor: default;
}

.channel-menuitem .channel-menuitem-name {
	font-size: 16px;
	position: relative;
	top: -8px;
	font-weight: 600;
}

.channel-menuitem .channel-menuitem-avatar {
	display: inline-block;
	position: relative;
	top: 2px;
}

.channel-menuitem.nested-show {
	display: block !important;
}

.backup-button {
	border: 1px solid #fff0 !important;
	background-image: url(/images/backup.png) !important;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
    background-color: transparent !important;
	width: 24px !important;
	height: 24px !important;
    color: transparent !important;
    padding: unset !important;
    min-width: unset !important;
    border-radius: 50% !important;
    transition: unset !important;
    cursor: pointer;
	opacity: 60%;
}
.backup-button:hover {
	opacity: 80%;
}
.backup-button:active {
	opacity: 100%;
}