config.json
source/database
source/database-copy
node_modules
package-lock.json
package.json
Start.lnk
source/corpus.json
source/index.js
source/user.js
file.zip
DiscordBot-main/
source/ws/old/
source/Start.vbs
source/node.error.log
source/log/
source/ws/log/
source/exitdata.txt
Download.bat
source/FLR.json
source/GST.json
source/IPS.json
Update.bat
source/ws/public/styles-test
.vs
DiscordBot.njsproj
bin
obj
DiscordBot.sln
DiscordBot.njsproj.user
