config.json
source/mobile-config.json
source/database
source/database-copy
node_modules
package-lock.json
Start.lnk
file.zip
DiscordBot-main/
source/web-interface/old/
source/web-interface/old-2/
source/node.error.log
source/log/
source/web-interface/log/
source/exitdata.txt
source/FLR.json
source/GST.json
source/IPS.json
.vs
DiscordBot.njsproj
bin
obj
DiscordBot.sln
DiscordBot.njsproj.user
OldDCVer
Properties
.vscode
source/tests
source/commands/graph.png
search-res-chocolate.json
search-res-bread.json
search-data-chocolate.html
search-data-bread.html
source/cache
source/news-archive/
source/tesco-cache/
source/mvm-roads-in-interest.json
chrome-extension/key.json
source/Release/
source/DiscordBotManager.dll
source/DiscordBotManager.exe
source/DiscordBotManager.pdb
source/DiscordBotManager.deps.json
source/DiscordBotManager.runtimeconfig.json
source/pressures.txt
/dist
/log