config.json
source/database
source/database-copy
node_modules
package-lock.json
Start.lnk
file.zip
DiscordBot-main/
source/web-interface/old/
source/node.error.log
source/log/
source/web-interface/log/
source/exitdata.txt
source/FLR.json
source/GST.json
source/IPS.json
.vs
DiscordBot.njsproj
bin
obj
DiscordBot.sln
DiscordBot.njsproj.user
OldDCVer
Properties
.vscode
source/weather-cache