<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            width: 100%;
            height: 100%;
            overflow: hidden;
            color: #f3f4f5;
        }

        table, tr, td {
            border: 0px;
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body>
    <table cellspacing="0">
        <tr>
            <td rowspan="2" style="user-select: none">
                <img src="{{avatar}}" width="32" height="32" style="border-radius: 16px; margin-right: 4px">
            </td>
            <td style="color: #f3f4f5; font-weight: 700; font-size: 14px;">
                {{username}}
            </td>
        </tr>
        <tr>
            <td style="color: #aeafb6; font-weight: 300; font-size: 12px; position: relative; top: -2px;">
                #{{discriminator}}
            </td>
        </tr>
    </table>
</body>
</html>