<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/styles/css-vars.css" rel="stylesheet" type="text/css">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="wed, 26 Feb 1997 08:21:57 GMT">
    <script type="text/javascript">
        if(window.parent==window){window.location.href="http://192.168.1.100"}
        document.oncontextmenu=()=>{return false}
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <script type="text/javascript">
        try{document.execCommand('BackgroundImageCache',false,true)}catch(e){}
    </script>
    <script src="/scripts/archive/menu.js" type="text/JavaScript"></script>
    <style type="text/css">
        menu ol.minus {
            background-color: #fff1;
        }
        menu ol.minus:hover {
            background-color: #fff2;
        }

        ol {
            display: block;
            list-style-type: decimal;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
        }

        ol img:not(.status-icon) {
            height: 100%;
            display: inline-block;
            position: relative;
            bottom: 6px;
            opacity: 50%;
            transform: scale(.8);
        }

        ol.dot2 img:not(.status-icon) {
            display: none !important;
        }

        ol .status-icon {
            height: 24px;
            width: 24px;
            display: inline-block;
            position: relative;
            bottom: 2px;
            left: -45px;
            border-radius: 50%;
            background-color: #0000;
            transform: scale(0.5);
            transition: background-color 1s;
        }

        ol.dot2 .status-icon {
            display: none !important;
        }

        menu ol {
            position: relative;
            border-end-end-radius: 100px;
            border-start-end-radius: 100px;
            height: 30px;
            overflow: hidden;
            padding-left: 25px;
            padding-top: 12px;
            cursor: pointer;
        }

        menu ol>a {
            text-decoration: none;
            user-select: none;
            color: #eee;
            font-size: 14px;
            font-weight: 600;
        }

        menu ol:not(.dot2)>a {
            position: relative;
            bottom: 16px;
        }

        menu ol:hover {
            background-color: #3c4043;
            color: #eee;
        }

        menu ol.dot2 {
            padding-left: 85px;
        }

        menu ol span.ripple {
            position: absolute;
            border-radius: 50%;
            transform: scale(0);
            animation: ripple 600ms linear;
            background-color: #fff3;
            pointer-events: none;
        }

        menu ol.selected span.ripple {
            background-color: #0003;
        }

        menu ol.selected {
            background-color: #8ab4f8;
            color: #000;
        }

        @keyframes ripple {
            to {
                transform: scale(4);
                opacity: 0;
            }
        }

        .hidden {
            display: none;
        }
        .show {
            display: block;
        }
        menu {
            display: block;
            list-style-type: disc;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0px;
        }

        ol a {
            
        }
    </style>
    <script type="text/javascript">
        function ResetStatus(strInfo) {
            window.status = ""; return true;
        }
    </script>
    <style>
        hr {
            margin: 2px 30px;
            border-color: #fff2;
        }
    </style>
</head>

<body style="margin: 0px;">
    <menu>
        <script type="text/javascript">
            menuInit()
            menuDisplay()
        </script>
    </menu>
</body>

    <script>
        const buttons = document.getElementsByTagName("ol");
        for (const button of buttons) {
            button.addEventListener("mousedown", createRipple);
        }

        function createRipple(event) {
            const ripples = document.getElementsByClassName("ripple")
            for (let i = 0; i < ripples.length; i++) {
                const ripple = ripples[i];
                ripple.remove()
            }

            const offset = { x: 0, y: 0 }
            const button = event.currentTarget;
            const circle = document.createElement("span");
            const diameter = Math.max(button.clientWidth, button.clientHeight);
            const radius = diameter / 2;
            circle.style.width = circle.style.height = `${diameter}px`;
            circle.style.left = `${event.clientX - (button.offsetLeft + radius) + offset.x}px`;
            circle.style.top = `${event.clientY - (button.offsetTop + radius) + offset.y}px`;
            circle.classList.add("ripple");
            button.appendChild(circle);
        }
    </script>

</html>