<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Weather - Békéscsaba</title>
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/favicon.ico">
    <meta name="description" content="Stjórnandius#1487's managing website">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/thirdParty/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/thirdParty/w3.css">
    <link rel="stylesheet" href="/thirdParty/bootstrap.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-image: url('/weather/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            padding: 15px;
        }

        .widget>div {
            background: #0007;
            border-radius: 15px;
            color: #fff;
            margin: 15px;
            padding: 15px;
        }

        .c-temp,
        .c-skytxt {
            font-size: 48px;
        }

        .c-temp-feels,
        .c-time,
        .city {
            font-size: 20px;
            opacity: .8;
        }

        .c-press,
        .c-precip,
        .c-humid {
            font-size: 24px;
        }

        .c-skytxt-img {
            float: left;
        }

        p {
            margin: 0;
        }

        ul.forecast {
            list-style: none;
            overflow-x: scroll;
            white-space: nowrap;
        }

        ul.forecast>li {
            background: #0007;
            border-radius: 15px;
            color: #fff;
            margin: 15px;
            padding: 15px;
            height: calc(100%-30px) !important;
            display: inline-block;
        }

        ul.forecast .skytxt-img {
            float: left;
        }

        ul.forecast .temp {
            font-size: 24px;
        }

        ul.forecast .skytxt {
            font-size: 32px;
        }

        ul.forecast .f-date {
            font-size: 16px;
            opacity: .8;
        }

        ul.forecast > li > div.f-hidden {
            display: none;
        }

        ul.forecast > li:hover > div.f-hidden {
            display: inline-block;
        }

        ul.forecast > li:hover {
            width: unset !important;
        }

        ul.forecast .f-hidden {
            border-left: 2px solid #fff2;
            margin-left: 10px;
            padding-left: 10px;
        }
    </style>
</head>

<body>

    <div class="row">
        <div class="col-md-6 widget">
            <div>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: 50%;
                ">
                    <img class="c-skytxt-img" src="https://ssl.gstatic.com/onebox/weather/128/sunny_s_cloudy.png">
                    <p class="c-temp">15 C°</p>
                    <p class="c-temp-feels">Feels like 12 C°</p>
                </div>
                <div style="
                display: inline-block;
                vertical-align: top;
                text-align: right;
                width: 50%;
                ">
                    <p class="c-skytxt">Sunny</p>
                    <h2 class="city">Békéscsaba</h2>
                    <p class="c-time">at 17:53</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 widget">
            <div>
                <p class="c-press">Pressure: 1000 pHa</p>
                <p class="c-precip">Precip: 5%</p>
                <p class="c-humid">Humidity: 20%</p>
            </div>
        </div>
    </div>

    <div class="row">
        <ul class="forecast">
            <li>
                <div style="
                    display: inline-block;
                    ">
                    <div style="
                        display: inline-block;
                        vertical-align: top;
                        width: 64px;
                        ">
                        <img class="skytxt-img" src="https://ssl.gstatic.com/onebox/weather/64/sunny_s_cloudy.png">
                    </div>
                    <div style="
                        display: inline-block;
                        vertical-align: top;
                        width: calc(100%-64px);
                        text-align: right;
                        ">
                        <p class="skytxt">Sunny</p>
                        <p class="temp">16 C°</p>
                        <p class="temp">18 C°</p>
                    </div>
                    <p class="f-date">Saturday, 11.08.</p>
                </div>
                <div class="f-hidden" style="
                
                    ">
                        <p class="skytxt">Sunny</p>
                        <p class="temp">16 C°</p>
                        <p class="temp">18 C°</p>
                </div>
            </li>
            <li>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: 64px;
                ">
                    <img class="skytxt-img" src="https://ssl.gstatic.com/onebox/weather/64/sunny_s_cloudy.png">
                </div>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: calc(100%-64px);
                text-align: right;
                ">
                    <p class="skytxt">Sunny</p>
                    <p class="temp">16 C°</p>
                    <p class="temp">18 C°</p>
                </div>
                <p class="f-date">Saturday, 11.08.</p>
            </li>
            <li>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: 64px;
                ">
                    <img class="skytxt-img" src="https://ssl.gstatic.com/onebox/weather/64/sunny_s_cloudy.png">
                </div>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: calc(100%-64px);
                text-align: right;
                ">
                    <p class="skytxt">Sunny</p>
                    <p class="temp">16 C°</p>
                    <p class="temp">18 C°</p>
                </div>
                <p class="f-date">Saturday, 11.08.</p>
            </li>
            <li>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: 64px;
                ">
                    <img class="skytxt-img" src="https://ssl.gstatic.com/onebox/weather/64/sunny_s_cloudy.png">
                </div>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: calc(100%-64px);
                text-align: right;
                ">
                    <p class="skytxt">Sunny</p>
                    <p class="temp">16 C°</p>
                    <p class="temp">18 C°</p>
                </div>
                <p class="f-date">Saturday, 11.08.</p>
            </li>
            <li>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: 64px;
                ">
                    <img class="skytxt-img" src="https://ssl.gstatic.com/onebox/weather/64/sunny_s_cloudy.png">
                </div>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: calc(100%-64px);
                text-align: right;
                ">
                    <p class="skytxt">Sunny</p>
                    <p class="temp">16 C°</p>
                    <p class="temp">18 C°</p>
                </div>
                <p class="f-date">Saturday, 11.08.</p>
            </li>
            <li>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: 64px;
                ">
                    <img class="skytxt-img" src="https://ssl.gstatic.com/onebox/weather/64/sunny_s_cloudy.png">
                </div>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: calc(100%-64px);
                text-align: right;
                ">
                    <p class="skytxt">Sunny</p>
                    <p class="temp">16 C°</p>
                    <p class="temp">18 C°</p>
                </div>
                <p class="f-date">Saturday, 11.08.</p>
            </li>
            <li>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: 64px;
                ">
                    <img class="skytxt-img" src="https://ssl.gstatic.com/onebox/weather/64/sunny_s_cloudy.png">
                </div>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: calc(100%-64px);
                text-align: right;
                ">
                    <p class="skytxt">Sunny</p>
                    <p class="temp">16 C°</p>
                    <p class="temp">18 C°</p>
                </div>
                <p class="f-date">Saturday, 11.08.</p>
            </li>
            <li>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: 64px;
                ">
                    <img class="skytxt-img" src="https://ssl.gstatic.com/onebox/weather/64/sunny_s_cloudy.png">
                </div>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: calc(100%-64px);
                text-align: right;
                ">
                    <p class="skytxt">Sunny</p>
                    <p class="temp">16 C°</p>
                    <p class="temp">18 C°</p>
                </div>
                <p class="f-date">Saturday, 11.08.</p>
            </li>
            <li>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: 64px;
                ">
                    <img class="skytxt-img" src="https://ssl.gstatic.com/onebox/weather/64/sunny_s_cloudy.png">
                </div>
                <div style="
                display: inline-block;
                vertical-align: top;
                width: calc(100%-64px);
                text-align: right;
                ">
                    <p class="skytxt">Sunny</p>
                    <p class="temp">16 C°</p>
                    <p class="temp">18 C°</p>
                </div>
                <p class="f-date">Saturday, 11.08.</p>
            </li>
        </ul>
    </div>

</body>

</html>