<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Discord BOT Web Interface</title>
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="icon" href="https://raw.githubusercontent.com/BBpezsgo/DiscordBot/main/source/web-interface/public/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/BBpezsgo/DiscordBot/main/source/web-interface/public/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <h1>Discord BOT Web Interface</h1>
    <p>Page "{{url}}" not found!</p>
    <ul>
        <li>
            <a href="/">Go Start Page</a>
        </li>
        <li>
            <a href="/dcbot">Go to Handlebars</a>
        </li>
        <li>
            <a href="/public">Go to Public Page</a>
        </li>
        <li>
            <a href="/archive">Go to Archive Browser</a>
        </li>
    </ul>
</body>

</html>