<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="icon" href="https://raw.githubusercontent.com/BBpezsgo/DiscordBot/main/source/web-interface/public/favicon.ico"
        type="image/x-icon">
    <link rel="apple-touch-icon"
        href="https://raw.githubusercontent.com/BBpezsgo/DiscordBot/main/source/web-interface/public/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Stjórnandius#1487's managing website">
</head>

<frameset rows="90,*">
    <frame name="topFrame" marginwidth="0" marginheight="0" src="/frames/top" noresize="" scrolling="no"
        framespacing="0" frameborder="0" title="Header frame" />
    <frameset id="frameSet" cols="182,55%">
        <frame name="bottomLeftFrame" marginwidth="0" marginheight="0" src="/userViews/MenuRpm" noresize=""
            frameborder="1" scrolling="auto" style="overflow-x:hidden" title="Menu frame" />
        <frame id="mainFrame" name="mainFrame" marginwidth="0" marginheight="0" src="/userViews/Status" frameborder="1"
            title="Main frame" />
        <!--<frame id="helpFrame" name="helpFrame" marginwidth="0" marginheight="0" src="/help/StatusHelpRpm.html"
            frameborder="1" title="Help frame" />-->
    </frameset>
    <noframes>
        Please upgrade to a version 4 or higher browser so that you can use this webpage.
    </noframes>
</frameset>

<script>
    window.onclick = function (event) {
        for (let i = 0; i < document.getElementsByClassName('modal').length; i++) {
            const modal = document.getElementsByClassName('modal')[i]
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
</script>
<script>
    var origCols = "182,55%,*"

    /** @param {Element} sender */
    function ToggleHelpPanel(sender) {
        if (origCols != null) { showFrame(sender) }
        else { hideFrame(sender) }
    }

    /** @param {Element} sender */
    function hideFrame(sender) {
        sender.textContent = '<'
        const frameset = document.getElementById("frameSet")
        origCols = frameset.cols
        frameset.cols = "182,55%"
    }

    /** @param {Element} sender */
    function showFrame(sender) {
        sender.textContent = '>'
        const frameset = document.getElementById("frameSet")
        frameset.cols = origCols
        origCols = null
    }
</script>

<script>
    setInterval(() => {
        var xmlHttp = new XMLHttpRequest()
        xmlHttp.open("GET", '/title', false)
        xmlHttp.send(null)
        document.title = xmlHttp.responseText
    }, 1000)
</script>

</html>