<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/favicon.ico">
    <meta name="description" content="Stjórnandius#1487's managing website">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/thirdParty/jquery-3.6.0.min.js"></script>

    <style>
        body {
            display: flex;
            align-items: stretch;
            overflow: hidden;
            margin: 0px;
        }

        div>iframe {
            width: 100%;
            height: 100%;
        }

        iframe {
            border: none;
        }
    </style>

</head>

<body style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px;">
    <div style="flex: 0 0 72px; width: 72px;" id="menubar">
        <iframe src="/dcbot/view/menu.html" title="Menu Frame"></iframe>
    </div>
    <div style="flex-grow: 8; background-color: #313338;">
        <iframe id="content" src="/dcbot/view/Status.html?new" name="mainFrame" title="Main Frame"></iframe>
    </div>
</body>

</html>