ul,
#myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: url('/images/folder-close.png');
    color: black;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 3px;
    left: 3px;
}

.caret-down::before {
    content: url('/images/folder-open.png');
}

.nested {
    display: none;
}

.active {
    display: block;
}

.data-string::before {
    content: url('/images/data-string.png');
    color: black;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 3px;
    left: 3px;
}

.data-number::before {
    content: url('/images/data-number.png');
    color: black;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 3px;
    left: 3px;
}

.data-bool::before {
    content: url('/images/data-bool.png');
    color: black;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 3px;
    left: 3px;
}